#navbar{
    position: sticky;
    top: 0px;
    z-index: 1;
}


#footer{
    padding-top: 2rem ;
    padding-bottom: 1rem;
    /* position: sticky; */
    bottom: 0px;
    background-color: var(--light);
    position: static;
}


#content{
    height: 500px;
    z-index: 0;
}