
#navbar{
    position: sticky;
    top: 0px;
    z-index: 1;
}


#content{
    min-height: 73vh;
    /* height: 550px; */
    z-index: 0;
}

#footer{
    padding-top: 2rem ;
    padding-bottom: 1rem;
    background-color: var(--light);
    z-index: 1;
    position: static;

}